.sub-comment-grid-wrapper {
    display: flex;
}

.sub-comment-section {
    padding-left: 8rem;
}

.sub-comment-username {
    font-size: 0.9rem;
}

.sub-comment-grid-wrapper div {
    margin-left: 15px;
}

.sub-comment-grid-wrapper img {
    border-radius: 50%;
}

.sub-comment-email {
    margin-bottom: 0px;
    font-size: 0.7rem;
    color: grey;
}

.actual-sub-comment p {
    margin-left: 4.7rem;
    background-color: silver;
    display: inline;
    padding: 9px;
    border-radius: 20%;
    font-size: 0.9rem;
}

.sub-comment-rate {
    display: flex;
    margin-top: 1rem;
}

.sub-comment-likes {
    margin-left: 4.7rem;
    margin-right: 4.7rem;
}

.sub-comment-icons {
    display: flex;
    margin: 1rem 4.7rem 0rem 4.7rem;
}

.fa-edit {
    margin-right: 2.2rem;
    margin-left: 2.2rem;
}

.fa-edit:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: orangered;
    cursor: pointer;
}

.fa-reply:hover {
    color: cadetblue;
    cursor: pointer;
}

#sub-comment-modal-delete-btn {
    color: white;
}

#sub-comment-modal-delete-btn:hover {
    cursor: pointer;
}

.modal-open {
    overflow: scroll;
}

.edit-sub-comment-parent {
    display: none;
}
