/* You can add global styles to this file, and also import other style files */
.text-danger {
  margin-left: 2rem !important;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.clickable {
  cursor: pointer;
}

a {
  text-decoration: none;
}
